.card-menu {
    width: 100%;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    @include shadow;
}
.card-menu-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 25px 12px 13px;
    line-height: 25px;

    > div {
        width: calc(100% - 50px);
    }
}
.line {
    width: 40px;        
    height: 3px;         
    background-color: $tertiary-color; 
    margin: 9px 0; 
}
.menu {
    margin-top: 20px;
}
.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid-menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    margin-top: 18px;
    padding-bottom: 20px;
}
.commander {
    width: 188px;
    display: flex;
    padding: 16px 48px;
}
.menu-button {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
