.restaurant {
    padding-top: 54px;
    background-color: $bg-greyligth;
}
.grid-restaurant {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    margin-top: 18px;
    padding-bottom: 68px;
}
.card-restaurant{
    width: 100%;
    background-color: $bg-white;
    border-radius: 15px;
    position: relative;
    height: 251px;
    
img{
    border-radius: 15px 15px 0px 0px ;
    object-fit: cover;
    height: 66%;
    width: 100%;
}
.badge {
    top: 12px;
    position: absolute;
    width: 80px;
    height: 29px;
    color: #008766;
    background-color: #99E2D0;
    text-align: center;
    align-content: center;
    right: 15px;
    font-size: 14px;
    font-weight: 500;
}  
}
.card-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px 12px 13px;
    line-height: 25px;
}
i {
    font-size: 22px;
}
.card-link {
    display: block; /* Rend le lien de type bloc pour qu'il puisse englober un article */
    text-decoration: none; /* Supprime le soulignement du lien */
    color: inherit;
}
.subtitle {
    display: block;
}
            